.facebook-android-sdk-3.18.1/
facebook-android-sdk-3.18.1

facebook-android-sdk-3.18.1/facebook/bin/R.txt
facebook-android-sdk-3.18.1/facebook/bin/facebooksdk.jar
facebook-android-sdk-3.18.1/facebook/project.properties
