<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.g6pis.beatit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BeatItActionBarTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChallengeInProgress"
            android:label="@string/title_activity_challenge_in_progress" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.g6pis.beatit.ChallengesMenu" />
        </activity>
        <activity
            android:name=".ChallengesMenu"
            android:label="@string/title_activity_challenges_menu" >
        </activity>
        <activity
            android:name=".Ranking"
            android:label="@string/title_activity_ranking" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.g6pis.beatit.ChallengesMenu" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.g6pis.beatit.ChallengesMenu" />
        </activity>
        <activity
            android:name=".ChallengeFinished"
            android:label="@string/title_activity_challenge_finished" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.g6pis.beatit.ChallengesMenu" />
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
